## Part 1

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

### Loading the Data

In [2]:
import pandas as pd

reaction_df = pd.read_csv("Reactions.csv", na_values=[""])
content_df = pd.read_csv("Content.csv")
reaction_types_df = pd.read_csv("ReactionTypes.csv")

In [3]:
content_df

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...
...,...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking,NaN
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology,https://socialbuzz.cdn.com/content/storage/7a7...
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism,https://socialbuzz.cdn.com/content/storage/435...
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture,https://socialbuzz.cdn.com/content/storage/4e4...
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,https://socialbuzz.cdn.com/content/storage/75d...

In [4]:
reaction_df

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [5]:
reaction_types_df

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

### Check the data

In [ ]:
reaction_df.isna().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [7]:
content_df.isna().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

### Cleaning the content data

In [8]:
content_df['Category'] = content_df['Category'].str.replace('"', '')

### Remove User ID and URL columns as they not necessary

In [9]:
content_df.drop(columns=['User ID'], inplace=True)

In [10]:
content_df.drop(columns=['URL'], inplace=True)

In [11]:
content_df

     Unnamed: 0                            Content ID   Type         Category
0             0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1             1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   healthy eating
2             2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   healthy eating
3             3  356fff80-da4d-4785-9f43-bc1261031dc6  photo       technology
4             4  01ab84dd-6364-4236-abbb-3f237db77180  video             food
..          ...                                   ...    ...              ...
995         995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  public speaking
996         996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       technology
997         997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         veganism
998         998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          culture
999         999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       technology

[1000 rows x 4 columns]

### Renaming Column "Type" to "Content Type" Just to be specific

In [12]:
content_df.rename(columns={'Type': 'Content Type'}, inplace=True)

In [13]:
content_df

,Unnamed: 0,Content ID,Content Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food
...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology

### Cleaning Reactions.csv

In [14]:
# Remove Rows with Blanks

reaction_df.dropna(inplace=True)

In [15]:
# Remove "User ID" Column

reaction_df.drop(columns=['User ID'], inplace=True)

In [16]:
# Renaming Type to Reaction Type

reaction_df.rename(columns={'Type': 'Reaction Type'}, inplace=True)

In [17]:
reaction_df

,Unnamed: 0,Content ID,Reaction Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58
...,...,...,...,...
25547,25547,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-10-31 04:50:14
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11

In [18]:
# Renaming Type to Reaction Type in reation_types_df

reaction_types_df.rename(columns={'Type': 'Reaction Type'}, inplace=True)

In [19]:
reaction_types_df

    Unnamed: 0 Reaction Type Sentiment  Score
0            0         heart  positive     60
1            1          want  positive     70
2            2       disgust  negative      0
3            3          hate  negative      5
4            4    interested  positive     30
5            5   indifferent   neutral     20
6            6          love  positive     65
7            7    super love  positive     75
8            8       cherish  positive     70
9            9         adore  positive     72
10          10          like  positive     50
11          11       dislike  negative     10
12          12     intrigued  positive     45
13          13       peeking   neutral     35
14          14        scared  negative     15
15          15       worried  negative     12

## Part 2

### 1. Merging the Data Sets

In [20]:
# Merge Reactions with Content
merged_df = reaction_df.merge(content_df, on='Content ID', how='left')

# Merge the result with Reaction Types
final_df = merged_df.merge(reaction_types_df, on='Reaction Type', how='left')

In [21]:
final_df

,Unnamed: 0_x,Content ID,Reaction Type,Datetime,Unnamed: 0_y,Content Type,Category,Unnamed: 0,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,0,photo,Studying,2,negative,0
1,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,0,photo,Studying,11,negative,10
2,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,0,photo,Studying,14,negative,15
3,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,0,photo,Studying,2,negative,0
4,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,0,photo,Studying,4,positive,30
...,...,...,...,...,...,...,...,...,...,...
22529,25547,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-10-31 04:50:14,999,audio,technology,15,negative,12
22530,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,999,audio,technology,11,negative,10
22531,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,999,audio,technology,12,positive,45
22532,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,999,audio,technology,15,negative,12
22533,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,999,audio,technology,8,positive,70

### 2. Calculating the Total Scores for Each Category

In [22]:
# Calculate total scores by category
category_scores = final_df.groupby('Category')['Score'].sum().reset_index()

# Sort categories by total score in descending order
top_categories = category_scores.sort_values(by='Score', ascending=False)

# Display the top 5 categories
top_5_categories = top_categories.head(5)
print(top_5_categories)

          Category  Score
13         animals  65063
20  healthy eating  62866
25      technology  62818
22         science  61081
15         culture  59213

### 3. Saving the Final Data Set

In [23]:
final_df.to_csv("Final_Cleaned_Data.csv", index=False)
top_5_categories.to_csv("Top_5_Categories.csv", index=False)